<!-- https://leaverou.github.io/awesomplete/ -->
<!-- http://bootsnipp.com/forms -->
<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Legenda</legend>
       

        <div class="form-group opstina-insert" >
            <label class="col-md-4 control-label" for="stranka">Opstina</label>
            <div class="col-md-4">
                <input type="text" name="" id="opstinaSearch" class="form-control" value="" required="required" pattern="" title="">
            </div>
        </div>
       

      
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="stranka">Stranka na vlasti</label>
            <div class="col-md-4">
                <select id="stranka" name="stranka" class="form-control">
                    <option value=""></option>
                    <option value="sns">Srpska napredna stranka</option>
                    <option value="sps">Socijalisticka partija srbije</option>
                    <option value="ds">Demokratska stranka</option>
                    <option value="dss">Demokratska stranka srbije</option>
                </select>
            </div>
        </div>
        <!-- Select Basic -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="regioni">Regioni</label>
            <div class="col-md-4">
                <select id="regioni" name="regioni" class="form-control">
                    <option value=""></option>
                    <option value="beogradski">Beogradski region</option>
                    <option value="juzna">Juzna Srbija</option>
                    <option value="istocna">Istocna Srbija</option>
                    <option value="sumadija">Sumadija</option>
                    <option value="zapadna">Zapadna srbija</option>
                    <option value="banat">Banat</option>
                    <option value="srem">Srem</option>
                    <option value="backa">Backa</option>
                </select>
            </div>
        </div>
      

       
    </fieldset>
</form>


 <script src="viz/map.js"></script>