<!-- https://leaverou.github.io/awesomplete/ -->
<!-- http://bootsnipp.com/forms -->
<form class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Legenda</legend>
        <div class="form-group">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#opstineTab">Opstine</a></li>
                <li><a href="#okruziTab">Okruzi</a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="opstineTab">
                    <label class="col-md-4 control-label" for="stranka">Opstina</label>
                    <div class="col-md-4">
                        <input type="text" name="" id="opstinaSearch" class="form-control" value="" required="required" pattern="" title="" placeholder="Unesite naziv">
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="okruziTab">
                    <label class="col-md-4 control-label" for="regioni">Okrug</label>
                    <div class="col-md-4">
                        <select id="regioni" name="regioni" class="form-control" >
                            <option value="" placeholder="Izaberite"></option>
                        </select>
                    </div>
                </div>
            </div>

        </div>


        <div class="form-group">
            <label class="col-md-4 control-label" for="stranka">Stranka na vlasti</label>
            <div class="col-md-4">
                <select id="stranka" name="stranka" class="form-control">
                    <option value=""></option>

                </select>
            </div>
        </div>
        <div class="form-group">
            <button>Clear</button>
        </div>
    </fieldset>
</form>
<script src="viz/map.js"></script>
<script type="text/javascript">
$(function() {

    $('.nav-tabs a').click(function(e) {
        e.preventDefault()
        $(this).tab('show')

        console.log( );

        var state = $(e.target).attr('href');

        if (state=="#opstineTab") {
            //prikazi opstine na mapi
            $("[opstina]").show()
        } else {
            //prikazi regione na mapi
            $("[opstina]").hide()
        }
        //moram da svicujem
    })

})
</script>
