<!-- https://leaverou.github.io/awesomplete/ -->
<!-- http://bootsnipp.com/forms -->
<style type="text/css">
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
    background-color: grey;
}
</style>
<div class="form-horizontal">
    <fieldset>
        <!-- Form Name -->
        <legend>Legenda</legend>
        <div class="form-group">
            <ul class="nav nav-pills " style="margin-left: 158px;">
                <li class="active"><a href="#opstineTab">Opštine</a></li>
                <li><a href="#okruziTab">Okruzi</a></li>
            </ul>
        </div>
        <div class="form-group">
            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="opstineTab">
                    <label class="col-md-4 control-label" for="stranka">Opština</label>
                    <div class="col-md-4">
                        <input type="text" name="" id="opstinaSearch" class="form-control" placeholder="Unesite naziv">
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="okruziTab">
                    <label class="col-md-4 control-label" for="regioni">Okrug</label>
                    <div class="col-md-4">
                        <select id="regioni" name="regioni" class="form-control">
                            <option value="" placeholder="Izaberite"></option>
                        </select>
                    </div>
                </div>
            </div>
            <!-- .tab-content -->
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="stranka">Stranka na vlasti</label>
            <div class="col-md-4">
                <select id="stranka" name="stranka" class="form-control">
                    <option value=""></option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-4 control-label" for="reset"></label>
            <div class="col-md-4">
                <button id="reset" class="btn btn-default">Reset</button>
            </div>
        </div>
    </fieldset>
</div>
<script src="viz/map.js"></script>
<script type="text/javascript">
$(function() {

    $('.nav-pills a').click(function(e) {
        e.preventDefault()
        $(this).tab('show')

        //
        //prebacivanje opstina i okruga
        //
        var state = $(e.target).attr('href');

        if (state == "#opstineTab") {
            //prikazi opstine na mapi
            $("[opstina]").show()
        } else {
            //prikazi regione na mapi
            $("[opstina]").hide()
        }
        //moram da svicujem
    })


    $("#reset").click(function(argument) {
        //mapu vrati na pocetno stanje
        //resetuj opcije
        debugger;
        $("#stranka").prop('selectedIndex', 0);
        $("#regioni").prop('selectedIndex', 0);
        resetColors();

    })

})
</script>
