<style type="text/css">
.logo {
    max-height: 85px;
    float: left;
}

.tab-pane.active {
    padding: 10px;
    width: 100%;
}
#linkovi{
    float: right;
    font-size: 25px;
}
.modal-dialog{
    min-width: 60%;
    width: 750px;
}
#viz{
    min-height: 300px;
}

.logo-opstina{
    padding: 10px 0;
    position: relative;
    max-width: 150px;
    float: left;
}
.general{
    float: left;
    width: 80%;
    padding: 30px 5px 5px 5px;
}
.clear{clear: both;}
.added td{
    background-color: rgba(58, 89, 103, 0.45);
    font-size: 12px;
}


</style>

<style>
.statsrow{
    margin-bottom: 20px;
}

.statbox h3{
    font-size: 18px;
    color: #231f20;
}
.statbox i{
    color: #bdbcbc;
}

.statbox h3 span{
    font-size: 24px;
    color: #62a698;
    margin-left: 10px;
}



.statboxnice{
    margin-top: 10px;
    text-align: center;
}
.statboxnice h3{
    font-size: 12px;
    color: #64A49C;
    border-top: 7px solid #64A49C;
    text-align: center;
    padding-top: 7px;
    margin: 0;
    margin-bottom: 40px;
}
.statboxnice i{
    color: #bdbcbc;
    cursor: pointer;
}
.triangle {
    min-height:30px;
    width:100%;
    position:relative;
    overflow:hidden;
}
.triangle:after {
    /* min-height: 50px; */
    width: 100%;
    position: relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(90deg);
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: red; */
    margin: auto;
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-top: 10px solid white;
    border-bottom: 10px solid #fff;
    border-right: 20px solid #64a49c;
}

.statboxnice span{
    font-size: 24px;
    line-height: 60px;
    color: #FFF;
    background-color: #62a698;
    display: block;
    border-radius: 50%;
    width:60px;
    height:60px;
    margin: auto;
}

.general{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    float: left;
    width: 80%;
    padding: 30px 5px 5px 5px;
}
.linkovi-container{
    grid-column: 2;
}

.modal-dialog{
    max-width: 95vw;
}

@media screen and (max-width: 600px) {
    .general{
        display: block;
    }
    .general>div{
        margin: 10px;
    }
}

</style>
<div class="modal fade" id="modal_id" tabindex='-1' >
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Opstina</h4>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" >
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Info</a>
                        </li>
                        <li role="presentation" class="active">
                            <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Odbornici</a>
                        </li>
                        <li role="presentation">
                            <a href="#budzet" aria-controls="tab" role="tab" data-toggle="tab">Budžet</a>
                        </li>
                        <li role="presentation">
                            <a href="#izbori" aria-controls="tab" role="tab" data-toggle="tab">Rezultati izbora</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane " id="home">
                            <div class="logo-opstina">
                                <img src="" alt="" class="logo">
                                <br>
                            </div>
                            <div class="general">
                                <div class="basic-info"> 

                                    <table>

                                    <colgroup><col><col></colgroup>
                                    <thead><tr>
                                        
                                    </tr></thead>
                                    <tbody>
                                        <tr>
                                            <td>Površina: </td>
                                            <td><span id="povrs"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Broj stanovnika:</td>
                                            <td><span id="stanovnici"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Ukupan broj odbornika:</td>
                                            <td><span id="brOdb"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Odbornici u vlasti:</td>
                                            <td><span id="brVlast"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Odbornici u opoziciji:</td>
                                            <td><span id="brOp"></span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                    
                                </div>
                                <div class="kontakt-container"> <table>
                                    
                                    <tbody>
                                    <tr>
                                        <td>E-mail:</td>
                                        <td><span id="mail"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Telefon:</td>
                                        <td><span id="telefon"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Adresa:</td>
                                        <td><span id="adresa"></span></td>
                                    </tr>
                                    <tr>
                                        <td>Link:</td>
                                        <td><span id="link"></span></td>
                                    </tr>
                                    
                                    <tr>
                                        <td>FB:</td>
                                        <td><span id="fb"></span></td>
                                    </tr>
                                    <tr>
                                        <td>TW:</td>
                                        <td><span id="tw"></span></td>
                                    </tr>
                                    </tbody>
                                </table></div>
                                <div class="linkovi-container">
                                Podelite:
                                    <span id="linkovi">
                                        <a  id="shareLink" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                        <a OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" id="fbShare" href="#fb"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                        <a OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" id="twShare" href="#tw"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                    </span>
                                </div>
                                </div><!-- .general -->
                                <div class="clear"></div>
                                <!-- <canvas width="360" height="300"></canvas> -->
                                <div class="viz-container">
                                    <div id="viz"></div>
                                    <!-- <div class="legendaCont">
                                                                <div class="naslov">
                                                                    <h1>Stranke</h1>
                                                                </div>
                                                                <div class="legenda"></div>
                                                            </div> -->
                                </div>
                                <div class="footer-info" style="clear: both;">
                                    <hr>
                                    <h4>Prinudna uprava</h4>
                                    <p>Odluke Vlade Srbije o uvođenju privremenih mera u lokalnu samoupravu (2008 - 2016)</p>
                                    <p id="prinudna_dokument"></p>
                                </div>
                           
                        </div> <!-- panel --> 
                        <div role="tabpanel" class="tab-pane active" id="tab">


                            <div id="statsOdb"></div>

                            <div style="margin-left: 10%;">
                                <div class="col-lg-2 col-md-5 col-sm-5 col-xs-6 statboxnice">
                                    <span id="brAktera"></span>
                                    <div class="triangle"></div>
                                    <h3>Ukupan broj aktera</h3>
                                </div>

                                <div class="col-lg-2 col-md-5 col-sm-5 col-xs-6 statboxnice">
                                    <span id="brOdbornici"></span>
                                    <div class="triangle"></div>
                                    <h3>Akteri koji su odbornici</h3>
                                </div>

                                <div class="col-lg-2 col-md-5 col-sm-5 col-xs-6 statboxnice">
                                    <span id="brStranka"></span>
                                    <div class="triangle"></div>
                                    <h3>Broj stranka</h3>
                                </div>

                                <div class="col-lg-2 col-md-5 col-sm-5 col-xs-6 statboxnice">
                                    <span id="brKoalcija"></span>
                                    <div class="triangle"></div>
                                    <h3>Broj koalicija</h3>
                                </div>

                                <div class="col-lg-2 col-md-5 col-sm-5 col-xs-6 statboxnice">
                                    <span id="brVlasti"></span>
                                    <div class="triangle"></div>
                                    <h3>Broj odbornika na vlasti</h3>
                                </div>
                            </div>

                            <table class="table table-hover odbornici">
                                <thead>
                                    <tr>
                                        <th>Ime i prezime</th>
                                        <th>Stranka</th>
                                        <th>Javna funkcija</th>
                                        <th>Koalicija</th>
                                        <th>U vlasti?</th>
                                        <th id='opstina-col'>Datum</th>
                                        <th>Prijavite promenu</th>
                                        <th style="display: none">fid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- tabela -->
                        <div role="tabpanel" class="tab-pane" id="budzet">
                            <h4>Budžet</h4>
                            <p>Usvojeni budžeti lokalnih samouprava po godinama</p>
                            <p id="budzet_dokument"></p>
                            <hr>
                            <!-- izvrsenje -->
                            <h4>Izvrsenje budžeta</h4>
                            <p>Izveštaj o izvršenju budžeta (trošenju javnih sredstava opštine/grada) po godinama</p>
                            <p id="izvrsenje_dokument"></p>
                            <!-- izvrsenje -->
                            <hr>
                            <!-- transferi -->
                            <h4>Transferi iz budžeta</h4>
                            <p>Odobrena sredstva iz tekuće budžetske rezerve Republike Srbije na osnovu odluke Vlade Republike Srbije</p>
                            <p id="transfer_dokument"></p>
                            <!-- transferi -->
                        </div>
                        <!-- budzet -->
                        <div role="tabpanel" class="tab-pane" id="izbori">
                            <h4>Rezultati izbora</h4>
                            <p>Rezultati lokalnih izbora u opštini/gradu po biračkim mestima (2012, 2016)</p>
                            <p id="izbori_dokument"></p>
                        </div>
                        <!-- transferi -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- veliko dugme -->
                <a href="http://kojenavlasti.rs/api/posaljitePromenu" target="_blank">
                    <button class="btn-danger btn btn-lg btn-block">Prijavite promenu</button>
                </a>

            </div>
        </div>
    </div>
</div>


<script>
    $(".modal-header .close").click(function () {

        $(".fade, #spinner,#fade").hide()
        //debugger;
    })
</script>