<style type="text/css">
.logo {
    max-height: 85px;
    float: left;
}

.tab-pane.active {
    padding: 10px;
    width: 100%;
}
#linkovi{
    float: right;
    font-size: 25px;
}
.modal-dialog{
    min-width: 60%;
    width: 750px;
}
#viz{
    min-height: 300px;
}

.logo-opstina{
    padding: 10px 0;
    position: relative;
    max-width: 150px;
    float: left;
}
.general{
    float: left;
    width: 80%;
    padding: 30px 5px 5px 5px;
}
.clear{clear: both;}

</style>

<style>
.statsrow{
    margin-bottom: 20px;
}

.statbox h3{
    font-size: 18px;
    color: #231f20;
}
.statbox i{
    color: #bdbcbc;
}

.statbox h3 span{
    font-size: 24px;
    color: #62a698;
    margin-left: 10px;
}



.statboxnice{
    margin-top: 10px;
    text-align: center;
}
.statboxnice h3{
    font-size: 12px;
    color: #64A49C;
    border-top: 7px solid #64A49C;
    text-align: center;
    padding-top: 7px;
    margin: 0;
    margin-bottom: 40px;
}
.statboxnice i{
    color: #bdbcbc;
    cursor: pointer;
}
.triangle {
    min-height:30px;
    width:100%;
    position:relative;
    overflow:hidden;
}
.triangle:after {
    /* min-height: 50px; */
    width: 100%;
    position: relative;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(90deg);
    content: '';
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: red; */
    margin: auto;
    font-size: 0px;
    line-height: 0%;
    width: 0px;
    border-top: 10px solid white;
    border-bottom: 10px solid #fff;
    border-right: 20px solid #64a49c;
}

.statboxnice span{
    font-size: 24px;
    line-height: 60px;
    color: #FFF;
    background-color: #62a698;
    display: block;
    border-radius: 50%;
    width:60px;
    height:60px;
    margin: auto;
}


</style>
<div class="modal fade" id="modal_id">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Opstina</h4>
            </div>
            <div class="modal-body">
                <div role="tabpanel">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Info</a>
                        </li>
                        <li role="presentation">
                            <a href="#tab" aria-controls="tab" role="tab" data-toggle="tab">Odbornici</a>
                        </li>
                        <li role="presentation">
                            <a href="#budzet" aria-controls="tab" role="tab" data-toggle="tab">Budžet</a>
                        </li>
                        <li role="presentation">
                            <a href="#izbori" aria-controls="tab" role="tab" data-toggle="tab">Rezultati izbora</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div role="tabpanel" class="tab-pane active" id="home">
                            <div class="logo-opstina">
                                <img src="" alt="" class="logo">
                                <br>
                            </div>
                            <div class="general">
                                <span>Površina: </span><span id="povrs"></span>
                                <br>
                                <span>Broj stanovnika: </span><span id="stanovnici"></span>


                                <span id="linkovi">
                                    <a  id="shareLink" href="#"><i class="fa fa-link" aria-hidden="true"></i></a>
                                    <a OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" id="fbShare" href="#fb"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
                                    <a OnClick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250'); return false;" id="twShare" href="#tw"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                                </span>
                            </div>
                            <div class="clear"></div>
                            <!-- <canvas width="360" height="300"></canvas> -->
                            <div>
                                <div id="viz"></div>
                                <!-- <div class="legendaCont">
                                    <div class="naslov">
                                        <h1>Stranke</h1>
                                    </div>
                                    <div class="legenda"></div>
                                </div> -->
                            </div>
                            <div style="clear: both;">
                                <hr>
                                <h4>Prinudna uprava</h4>
                                <p>Odluke Vlade Srbije o uvođenju privremenih mera u lokalnu samoupravu (2008 - 2016)</p>
                                <p id="prinudna_dokument"></p>
                            </div>
                        </div>
                        <div role="tabpanel" class="tab-pane" id="tab">


                            <div id="statsOdb"></div>

                            <div style="margin-left: 10%;">
                                <div class="col-lg-2 statboxnice">
                                    <span id="brAktera"></span>
                                    <div class="triangle"></div>
                                    <h3>Ukupan broj aktera</h3>
                                </div>

                                <div class="col-lg-2 statboxnice">
                                    <span id="brNotOdbornici"></span>
                                    <div class="triangle"></div>
                                    <h3>Akteri koji nisu odbornici</h3>
                                </div>

                                <div class="col-lg-2 statboxnice">
                                    <span id="brStranka"></span>
                                    <div class="triangle"></div>
                                    <h3>Broj stranka</h3>
                                </div>

                                <div class="col-lg-2 statboxnice">
                                    <span id="brKoalcija"></span>
                                    <div class="triangle"></div>
                                    <h3>Broj koalicija</h3>
                                </div>

                                <div class="col-lg-2 statboxnice">
                                    <span id="brVlasti"></span>
                                    <div class="triangle"></div>
                                    <h3>Broj odbornika na vlasti</h3>
                                </div>
                            </div>

                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Ime i prezime</th>
                                        <th>Stranka</th>
                                        <th>Javna funkcija</th>
                                        <th>koalicija</th>
                                        <th>U vlasti?</th>
                                        <th>Promena?</th>
                                        <th id='opstina-col'>Opstina</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                        <!-- tabela -->
                        <div role="tabpanel" class="tab-pane" id="budzet">
                            <h4>Budžet</h4>
                            <p>Usvojeni budžeti lokalnih samouprava po godinama</p>
                            <p id="budzet_dokument"></p>
                            <hr>
                            <!-- izvrsenje -->
                            <h4>Izvrsenje budžeta</h4>
                            <p>Izveštaj o izvršenju budžeta (trošenju javnih sredstava opštine/grada) po godinama</p>
                            <p id="izvrsenje_dokument"></p>
                            <!-- izvrsenje -->
                            <hr>
                            <!-- transferi -->
                            <h4>Transferi iz budžeta</h4>
                            <p>Odobrena sredstva iz tekuće budžetske rezerve Republike Srbije na osnovu odluke Vlade Republike Srbije</p>
                            <p id="transfer_dokument"></p>
                            <!-- transferi -->
                        </div>
                        <!-- budzet -->
                        <div role="tabpanel" class="tab-pane" id="izbori">
                            <h4>Rezultati izbora</h4>
                            <p>Rezultati lokalnih izbora u opštini/gradu po biračkim mestima (2012, 2016)</p>
                            <p id="izbori_dokument"></p>
                        </div>
                        <!-- transferi -->
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <!-- veliko dugme -->
                <button class="btn-danger btn btn-lg btn-block">Prijavite promenu</button>

            </div>
        </div>
    </div>
</div>


<script>
    $(".modal-header .close").click(function () {

        $(".fade, #spinner,#fade").hide()
        //debugger;
    })
</script>