#mapa {
    text-align: center;
}

.pomeren {
    transform: scale(1.05);
}

.tab-content>.active {
    display: inline-block;
}

.naslov {
    margin: 10px;
}

#viz {
    margin: 50px 0;
    min-height: 300px;
}

.prijavi {
    position: absolute;
    right: 20%;
    top: 15%;
}

.legend-title {
  
  font-weight: bold;
  margin-left: 20px;
}

#tab td{
    text-align: center;
}
.current{
	fill: red !important;
}